.FileName {
    width: 500px;
}
.ButtonContainer {
    line-height: 0px;
}
.ButtonImage {
    pointer-events: none;
    width: 200px;
    height: 200px;
}
.ButtonText {
    margin-top: 0px;
    margin-bottom: 10px;
}
.CardButton {
    float: right;
}
.WordCount {
    font-size: 20px;
}
.WordCountInput {
    width: 50px;
}
.List {
    text-align: center;
}
.ListContent {
    background-color: white;
    width: 500px;
    height: 55px;
}
.ListContentText {
    margin-left: 10px;
    margin-bottom: 100px;
}
.ListContentButton {
    margin-right: 10px;
    margin-bottom: 100px;
}
